################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetConnectMultiChain/obj/Debug
/packages
/AspNetConnectMultiChain/bin/Debug
/ConnectMultiChain/bin
/AspNetConnectMultiChain/obj/Debug